.main{
  width: 960px;
  margin: auto;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 96px;
  text-align: center;
  color: #3a8860;
  padding-top: 50px;
} 

a:hover{
  text-decoration-line:underline !important;
}

body{
  background-image: url('./images/whitebg.jpg')!important;
  background-size:100% 100% !important;
  background-attachment: fixed !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
